Boosting refers to an ensemble method.
In this method, multiple models are trained sequentially, and each model learns from the error of the previous model.
This way, many weak learners form a strong learner.
Each predictor trained sequentially tries to correct the prediction of its predecessor.

<strong><span style="color:red"> Two boosting methods: </span></strong>
1. AdaBoost
2. Gradient Boosting

<strong><span style="color:red"> AdaBoots boost/Adaptive Boosting </span></strong>

    1. Each predictor pays attention to the instances wrongly predicted by the predecessor and tries to correct them by adjusting the weight of the training instances.
    2. Each predictor is assigned a coefficient alpha.
    3. Alpha depends on the predictor's training error.
    4. Alpha is used to find the weight of the next training model's specific instances.
    5. 2nd predictor pays more attention to the weighted instances.
    6. This process is repeated sequentially till the end predictor.

Learning rate - it is a value between 0 and 1. This has a trade-off between Learning date and the number of estimators. A smaller value of learning rate will be compensated by large number of estimators.

<strong><span style="color:green"> When all models are trained, the further new predictors' label can be predicted based on the nature of the problem </span></strong>

    1. For classification, weighted majority voting.
    2. For Regression, weighted average.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeClassifier

In [2]:
cancer_dataframe = pd.read_csv("cancer_dataset.csv")
cancer_dataframe.drop('Unnamed: 32', axis=1, inplace=True)
cancer_dataframe

           id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302         M  ...          0.4601                  0.11890
1      842517         M  ...          0.2750                  0.08902
2    84300903         M  ...          0.3613                  0.08758
3    84348301         M  ...          0.6638                  0.17300
4    84358402         M  ...          0.2364                  0.07678
..        ...       ...  ...             ...                      ...
564    926424         M  ...          0.2060                  0.07115
565    926682         M  ...          0.2572                  0.06637
566    926954         M  ...          0.2218                  0.07820
567    927241         M  ...          0.4087                  0.12400
568     92751         B  ...          0.2871                  0.07039

[569 rows x 32 columns]

In [3]:
y = cancer_dataframe['diagnosis']
X = cancer_dataframe.drop(["diagnosis"], axis=1)

SEED = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y,
                                                    random_state=SEED)
dt = DecisionTreeClassifier(max_depth=1, random_state=SEED)
adb_clf = AdaBoostClassifier(estimator=dt, n_estimators=100)
adb_clf.fit(X_train, y_train)
y_pred_proba = adb_clf.predict_proba(X_test)[:,1]
adb_clf_roc_auc_score = roc_auc_score(y_test, y_pred_proba)
adb_clf_roc_auc_score

0.9880257009345794

<strong><span style="color:red"> Gradient Boosting </span></strong>

In ensemble learning, the next predictor corrects the prediction error of the previous predictors by adjusting the weights of training instances. But in the gradient boosting method, instead of adjusting weights, post-predictors are trained using the predecessor's residual errors as labels. 

<strong><span style="color:green">Example output below:- </span></strong>

X,y -----------> TREE1 ----> PREDICT -----> Residual error (r1) = y - y_pred -----><br>

X, eta * r1 ---> TREE2 ----> PREDICT -----> r2 = r1 - r_pred ---------------------><br>

X, eta * r2 ---> TREE3 ----> PREDICT -----> r3 = r2 - r_pred ---------------------><br>

The prediction of each tree is shrunk when the residual error is multiplied by a learning rate (eta), whose value lies between 0 and 1. If the eta value increases, the number of estimators decreases, and if the eta value decreases, then the number of estimators increases.

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import GradientBoostingRegressor

car_df = pd.read_csv("auto_mpg/test-file.txt", 
                        sep='\s+',
                        header=None, 
                        names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name'])
car_df

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

In [5]:
special_char_pattern = '[?]'
car_df['horsepower'] = car_df['horsepower'].str.replace(special_char_pattern, '0.0', regex=True)
car_df['has_special_char'] = car_df['horsepower'].str.contains(special_char_pattern, regex=True)
car_df['has_special_char']

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Name: has_special_char, Length: 398, dtype: bool

In [6]:
y = car_df['mpg']
X = car_df.drop(["mpg", "car name"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=3)
print ("Training data - independent variable")
X_train

Training data - independent variable

     cylinders  displacement horsepower  ...  model year  origin  has_special_char
65           8         351.0      153.0  ...          72       1             False
251          8         302.0      139.0  ...          78       1             False
238          4          98.0      83.00  ...          77       1             False
321          4         108.0      75.00  ...          80       3             False
70           8         400.0      190.0  ...          72       1             False
..         ...           ...        ...  ...         ...     ...               ...
256          6         225.0      100.0  ...          78       1             False
131          4          71.0      65.00  ...          74       3             False
249          8         260.0      110.0  ...          78       1             False
152          6         225.0      95.00  ...          75       1             False
362          6         146.0      120.0  ...          81       3             False

[278 rows x 8 columns]

In [7]:
print ("Training data - dependent variable")
y_train

Training data - dependent variable

65     14.0
251    20.2
238    33.5
321    32.2
70     13.0
       ...
256    20.5
131    32.0
249    19.9
152    19.0
362    24.2
Name: mpg, Length: 278, dtype: float64

In [8]:
print ("Test data - independent variable")
X_test

Test data - independent variable

     cylinders  displacement horsepower  ...  model year  origin  has_special_char
358          4         120.0      74.00  ...          81       3             False
16           6         199.0      97.00  ...          70       1             False
292          8         360.0      150.0  ...          79       1             False
81           4          97.0      92.00  ...          72       3             False
112          4         122.0      85.00  ...          73       1             False
..         ...           ...        ...  ...         ...     ...               ...
345          4          81.0      60.00  ...          81       3             False
67           8         429.0      208.0  ...          72       1             False
228          6         250.0      98.00  ...          77       1             False
237          4          98.0      63.00  ...          77       1             False
343          4          79.0      58.00  ...          81       3             False

[120 rows x 8 columns]

In [9]:
print ("Test data - dependent variable")
y_test

Test data - dependent variable

358    31.6
16     18.0
292    18.5
81     28.0
112    19.0
       ...
345    35.1
67     11.0
228    18.5
237    30.5
343    39.1
Name: mpg, Length: 120, dtype: float64

In [10]:
gbt = GradientBoostingRegressor(n_estimators=300, max_depth=1, random_state=SEED)
gbt.fit(X_train, y_train)

y_pred = gbt.predict(X_test)
rmse_test = MSE(y_test, y_pred)**(1/2)
rmse_test

3.1076925704902263

<strong><span style="color:red"> Stochastic Gradient Boosting </span></strong>

Stochastic Gradient Boosting is a machine learning teaching where multiple weak learning decision tree are used sequentially to build a powerful predictive model.

Rather using complete training data, first randomly sample the training data. Subsets are sampled based without replacement. Please note, not all the features are considered while making the subset to train the model.

Once a tree is trained and predictions are made, then computer the residual errors. These residual errors are multiplied by the learning rate(eta) and feed to the next tree in the ensemble. This procedure is continued sequentially unless all the trees in the ensemble are trained.

The whole process is the same like gradient boosting only diff is here random sampled trained data (with some sampled features) are used to train a tree.

In [13]:
y = car_df['mpg']
X = car_df.drop(["mpg", "car name"], axis=1)
SEED = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=SEED)
sgbt = GradientBoostingRegressor(max_depth=1,
                                 subsample=0.8,
                                 max_features=0.2,
                                 n_estimators=300,
                                 random_state=SEED)
sgbt.fit(X_train, y_train)
y_pred = sgbt.predict(X_test)
rmse_test = MSE(y_test, y_pred)**(1/2)
rmse_test

2.783627946304547